{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/angular.js' %}"></script>
    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/d3.js' %}"></script>

    <style>


    </style>

    <script>
        SITE_URL = '{{ SITE_URL }}';
    </script>
</head>
{% verbatim %}

<body ng-app="stockMarket">

<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- Add your site or application content here -->
<div id="wrapper">
    <header>
        <div id="logo"><h1>Dalal Street</h1>

            <h2>Where fortunes are made</h2></div>
    </header>
    <div class="" ng-controller="graphController">
        <div line-chart></div>
    </div>
    <div class="" ng-controller="stocksController">
        <div class="table clearfix" ng-show="stocks">
        <div class="row head clearfix" >
            <div class="cell">Stock</div>
            <div class="cell">Price</div>
            <div class="cell">Change</div>
            <div class="cell">All time high</div>
            <div class="cell">All time low</div>
        </div>
        <div class="row clearfix" ng-repeat="stock in stocks">
            <div class="cell">{{ stock.symbol }}</div>
            <div class="cell">{{ stock.price|number:2 }}</div>
            <div class="cell" ng-class="{true:'increase', false:'decrease'}[stock.change>=0]">{{ stock.change|number:2 }}</div>
            <div class="cell">{{ stock.high|number:2 }}</div>
            <div class="cell">{{ stock.low |number:2}}</div>
        </div>
            </div>
    </div>

</div>

</body>
{% endverbatim %}
<script src="{% static 'js/app/app.js' %}"></script>

</html>
